.container {
    border: 2px solid green;
    width: 40%;
    margin: 40px auto;
    height: 500px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
        padding: 20px;
        place-items: center;
            gap: 20px;
}
.container div{
    width: 40%;
    height: 50%;
    border: 1px solid red;

    background-color:yellow;

}