@import "./mixin";

* {
    margin: 0px;
    padding: 0px;
}
$bg-color: yellow;

h1 {
    color: red;
    align-items: center;
    text-align: center;
}
.main_header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100vh;
    margin: auto;
    background: $bg-color;
    .student {
        @include details;
    }
    .teacher {
        @include details;

        color: aliceblue;
    }
}
